* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Replica ProTT;
    overflow-x: hidden;
}





.navbar{
     position: fixed;
     z-index: 1000;
     width: 100%;
    background-color: #111111;
}
form svg{
    transform: translate(-167%,0%);
    color: #ccc;
}

form input{
    border-radius: 7px;
    border: solid 1px #ccc;
}
form input::placeholder{
    color: #cccccc9b;
}
.navbar button{
    background-color: #111111;
    border: solid 1px #ccc;
}
.navbar button:hover{
    background-color: #111111;
    border: solid 1px #e60012;
    color: #e60012;
}
.shop svg{
    color: #ccc;
}
.shop p {
    background-color: #e60012;
    border-radius: 50%;
    padding: 0   6px;
    font-size: 12px;
    transform: translate(-53%, -29%);

}
/* ------------------------------------------ */
.mykebords{
    background-color: #000;
}

.card{
    background-color: #111111;
    color: white;
    border-radius: 15px;
}
.card h6{
    color: #e60012;
}
.card h5{
    font-weight: 600;
    color: #ffffff;
}
.card del{
    font-size: 17px;
    color: #ccc;
}

.myjs a{
        padding:  10px 0;

    background-color: #e60012;
    border: none;
}
.myjs a:hover{
    background-color: #a10101;
}

.pls{
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px 10px;
    gap: 30px;
    border: solid 1px #ccc;
    border-radius: 4px;

}
.pls p{

    margin-top: 0; 
     margin-bottom: 0rem;

}


/* ---------------------------------------- */



footer {
    background-color: #111111;
    padding: 55px 55px 126px;
    color: white;
}

footer ul {
    padding-top: 40px;
    padding-bottom: 15px;
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    gap: 25px;
}

footer ul a {
    color: #ccc;

}

footer ul a:hover {
    color: #ccc;

}

a {

    color: white;
    text-decoration: none;
}


footer ul {
    padding-left: 0rem;
    margin-bottom: 0rem;
}

.fotar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    /* gap: 200px; */
}

.fotar div {
    width: 515px;
}


.email input {
    background-color: #2d2d2d;
    width: 75%;
    padding: 10px 18px;
}

input {
    background-color: #000;
    padding: 10px 0px;
    border: none;
    color: white;
    outline: none !important;
    border-bottom: #353535 solid;
    background: black;
}

.email button {
    border: none;
    color: white;
    background-color: #e60012;
    padding: 10px 18px;
}